[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
chromedriver-binary = "==76.0.3809.12.0"
selenium = "*"
PyYAML = "*"

[requires]
python_version = "3.6"

[scripts]
main = "python main.py"
lint = "flake8 main.py"
